Tickers-Api-StepFunction-template.json
{"Resources":{"StateMachine8ed46ac4":{"Type":"AWS::StepFunctions::StateMachine","Properties":{"Definition":{"Comment":"A description of my state machine","StartAt":"Ticker - API Lambda","States":{"Ticker - API Lambda":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Arguments":{"FunctionName":"${lambdainvoke_FunctionName_944dc357}","Payload":{"Payload.$":"$"}},"Retry":[{"ErrorEquals":["Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"Next":"Lambda Got Success","Output":"{% $states.result.Payload %}"},"Lambda Got Success":{"Type":"Choice","Choices":[{"Next":"Ticker Glue Job","Condition":"{% ($states.input.Payload.status) = (\"SUCCEEDED\") %}"}],"Default":"Fail"},"Ticker Glue Job":{"Type":"Task","Resource":"arn:aws:states:::glue:startJobRun","Arguments":{"JobName":"${gluestartJobRun_JobName_9dd683b2}","Arguments":{"--JOB_NAME":"tickers-glue-job","--database":"{% $states.input.Payload.database %}","--table_name":"{% $states.input.Payload.table_name %}","--data_length":"{% $states.input.Payload.data_length %}"}},"End":true},"Fail":{"Type":"Fail"}},"QueryLanguage":"JSONata"},"DefinitionSubstitutions":{"lambdainvoke_FunctionName_944dc357":"arn:aws:lambda:us-east-1:466414787742:function:get-api-lambda:$LATEST","gluestartJobRun_JobName_9dd683b2":"tickers-glue-job"},"RoleArn":{"Fn::GetAtt":["Role3943ff32","Arn"]},"StateMachineName":"StateMachine8ed46ac4","StateMachineType":"STANDARD","EncryptionConfiguration":{"Type":"AWS_OWNED_KEY"},"LoggingConfiguration":{"Level":"OFF","IncludeExecutionData":false}}},"Role3943ff32":{"Type":"AWS::IAM::Role","Properties":{"RoleName":"StepFunctions_IAM_ROLE_tickers-sfnb6706057","AssumeRolePolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Principal":{"Service":"states.amazonaws.com"},"Action":"sts:AssumeRole"}]},"MaxSessionDuration":3600}},"Policy94d3c8ba":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"XRayAccessPolicye05c4ed8","RoleName":{"Ref":"Role3943ff32"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["xray:PutTraceSegments","xray:PutTelemetryRecords","xray:GetSamplingRules","xray:GetSamplingTargets"],"Resource":["*"]}]}}},"Policy26a5a931":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"LambdaInvokeScopedAccessPolicy3d021023","RoleName":{"Ref":"Role3943ff32"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["lambda:InvokeFunction"],"Resource":["arn:aws:lambda:us-east-1:466414787742:function:get-api-lambda:*"]},{"Effect":"Allow","Action":["lambda:InvokeFunction"],"Resource":["arn:aws:lambda:us-east-1:466414787742:function:get-api-lambda"]}]}}},"Policycdf22d76":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"GlueStartJobRunFullAccessPolicy4271e2ca","RoleName":{"Ref":"Role3943ff32"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["glue:StartJobRun"],"Resource":["*"]}]}}}}}